 @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Petrona:wght@100&display=swap');
h1,
h2,
h3,
h4,
h5,
p,
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
//  font-family: 'Antic Slab', serif;
font-family: 'Petrona', serif;
  
}



.home {
  height: 100vh;
  width: 100%;
  position: relative;
  > img {
    object-fit: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  > h1 {
    position: absolute;
    text-transform: uppercase;
    top: 20%;
    left: 10%;
    font-size: 50px;
 
  
    color: rgb(0, 0, 0);
    // text-shadow: -8px 4px 4px rgba(246, 33, 5, 0.6);
    text-shadow: -8px 4px 4px rgba(202, 156, 246, 0.6);
    animation: text 0.5s infinite;
  }

  > h2 {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 50px;
 
     color: rgb(0, 0, 0);
    text-shadow: -8px 4px 4px rgba(84, 25, 140, 0.6);
    animation: text 0.5s infinite;
    transition: all 0.8s;
  }

  > .gif {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 350px;
    margin-top: -4.5rem;
   

    > img {
      width: 80%;
      
    }
  }

  > .clock {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 300px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    > h1 {
      color: black;
      font-size: 2rem;
    }
  }

  .clock-container {
    height: 30%;
    width: 250px;
    border-radius: 50%;

    >.clock-font{
      font-size: 3rem;
      font-family: 'Petrona', serif;
    }
  }

  > .icons {
    position: absolute;
    bottom: 20%;
    left: 10%;
    > .container {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      width: 80%;
      > .item {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        // background: rgb(255, 255, 255);
        background: #211c1d;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all ease 0.2s;

        &:hover {
          // background: #000;
          background: #e90f0f;
          transition: ease 0.2s;
        }

        > a {
          > img {
            height: 50px;
            width: 50px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@keyframes text {
  0% {
    text-shadow: -8px 4px 4px rgba(207, 200, 200, 0.6);
  }
  50% {
    text-shadow: -8px 4px 4px rgba(160, 62, 62, 0.6);
  }
  100% {
    text-shadow: -8px 4px 4px rgba(192, 1, 1, 0.6);
  }
}
